[submodule "clash-foss"]
	path = core/src/foss/golang/clash
	url = https://github.com/MetaCubeX/mihomo
	branch = Alpha
[submodule "core/src/foss/golang/clash"]
	path = core/src/foss/golang/clash
	url = https://github.com/MetaCubeX/mihomo
